<!DOCTYPE html>
<html lang="english">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          data-tag="font"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          data-tag="font"/>
    <title>Личные списки</title>
    <link rel="stylesheet" href="../style.css"/>
</head>

<body>
<section class="nav-men">
    <link href="nav-right.css" rel="stylesheet">
    <input type="checkbox" id="nav-toggle" hidden>
    <div class="mask-content"></div>
    <nav class="nav">
        <ul>
            <li><a href="../index.html">Главная</a>
            <li><a href="profile.html">Профиль</a>
            <li><a href="content-list.html">Списки</a>
            <li><a href="../index.html">Выйти</a>
        </ul>
    </nav>
</section>
<div id="header">
    <script src="../helpers/header.html.js"></script>
</div>
<div class="block">
    <div id="menu-include" active-element="4">
        <script src="../helpers/menu.html.js"></script>
    </div>
    <div class="content-main">
        <ul class="tabs">
            <li class="tabbase-active">
                <a href="#" class="text">Фильмы</a>
            </li>
            <li class="tabbase">
                <a href="#" class="text">Книги</a>
            </li>
            <li class="tabbase">
                <a href="#" class="text">Игры</a>
            </li>
        </ul>
        <div class="tabs-panel active" data-index="0">
            <span class="tab-header">Запланированное:</span>
            <table class="table">
                <thead>
                <tr>
                    <th class="cell-header">#</th>
                    <th class="cell-header">Название</th>
                    <th class="cell-header">Автор</th>
                    <th class="cell-header">Жанр</th>
                    <th class="cell-header">Оценка</th>
                    <th class="cell-header">Рейтинг</th>
                    <th class="cell-header">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="cell-value">1</td>
                    <td class="cell-value">Пикник на обочине</td>
                    <td class="cell-value">Стругацкие</td>
                    <td class="cell-value">Драма</td>
                    <td class="cell-value">
                        <label>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option selected>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </label>
                    </td>
                    <td class="cell-value">8,6</td>
                    <td class="cell-value">
                        <label>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option selected>Запланировано</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="cell-value">2</td>
                    <td class="cell-value">Мастер и Маргарита</td>
                    <td class="cell-value">Булгаков</td>
                    <td class="cell-value">Фантастика</td>
                    <td class="cell-value">
                        <label>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option selected>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </label>
                    </td>
                    <td class="cell-value">7,6</td>
                    <td class="cell-value">
                        <label>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option selected>Запланировано</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="cell-value">3</td>
                    <td class="cell-value">Чистовик</td>
                    <td class="cell-value">Лукьяненко</td>
                    <td class="cell-value">Фантастика</td>
                    <td class="cell-value">
                        <label>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option selected>9</option>
                                <option>10</option>
                            </select>
                        </label>
                    </td>
                    <td class="cell-value">7,6</td>
                    <td class="cell-value">
                        <label>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option selected>Запланировано</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="cell-value">4</td>
                    <td class="cell-value">Эдем</td>
                    <td class="cell-value">Лем</td>
                    <td class="cell-value">Фантастика</td>
                    <td class="cell-value">
                        <label>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option selected>9</option>
                                <option>10</option>
                            </select>
                        </label>
                    </td>
                    <td class="cell-value">7,6</td>
                    <td class="cell-value">
                        <label>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option selected>Запланировано</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div></div>
            <span class="tab-header">Смотрю:</span>
            <div class="text">Сейчас здесь пусто</div>
            <span class="tab-header">Просмотренное:</span>
            <div class="text">Сейчас здесь пусто</div>
        </div>
        <div class="tabs-panel" data-index="1">
            <span class="tab-header">Запланированное:</span>
            <div class="text">Сейчас здесь пусто</div>
            <span class="tab-header">Читаю:</span>
            <div class="text">Сейчас здесь пусто</div>
            <span class="tab-header">Прочитанное:</span>
            <div class="text">Сейчас здесь пусто</div>
        </div>
        <div class="tabs-panel" data-index="2">
            <span class="tab-header">Запланированное:</span>
            <div class="text">Сейчас здесь пусто</div>
            <span class="tab-header">Играю:</span>
            <div class="text">Сейчас здесь пусто</div>
            <span class="tab-header">Пройденное:</span>
            <div class="text">Сейчас здесь пусто</div>
        </div>
    </div>
</div>

<link href="content-list.css" rel="stylesheet"/>
<script src="../helpers/tabs-panel.js"></script>

</body>

</html>
