<!DOCTYPE html>
<html lang="english">
<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <meta property="twitter:card" content="summary_large_image"/>

    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
            data-tag="font"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            data-tag="font"
    />
    <link rel="stylesheet" href="../style.css"/>
    <link href="film-page.css" rel="stylesheet"/>
</head>
<body>
<section class="nav-men">
    <link href="nav-right.css" rel="stylesheet">
    <input type="checkbox" id="nav-toggle" hidden>
    <div class="mask-content"></div>
    <nav class="nav">
        <ul>
            <li><a href="../index.html">Главная</a>
            <li><a href="profile.html">Профиль</a>
            <li><a href="content-list.html">Списки</a>
            <li><a href="../index.html">Выйти</a>
        </ul>
    </nav>
</section>
<div id="header">
    <script src="../helpers/header.html.js"></script>
</div>
<div class="block">
    <div id="menu-include" active-element="1">
        <script src="../helpers/menu.html.js"></script>
    </div>
    <div class="content-main">
        <div class="film-description-header">
            <div class="film-description-element">
                <img
                        src="../public/playground_assets/image2415-6yy-400w.png"
                        alt="IMAGE2415"
                        class="frame3-image"
                />
                <div class="frame3-bottom">
                    <div class="frame3-inputdropdown">
                    <span class="frame3-text Body2500-Medium">
                      <span>Оценка:</span>
                    </span>
                        <div class="frame3-field">
                            <span class="frame3-text02 Body2500-Medium">-</span>
                            <img
                                    src="../public/playground_assets/tailicon1266-gz22.svg"
                                    alt="Tailicon1266"
                                    class="frame3-tailicon"
                            />
                        </div>
                    </div>
                    <div class="frame3-tabs">
                        <div class="frame3-inputdropdown1">
                      <span class="frame3-text03 Body2500-Medium">
                        <span>Списки:</span>
                      </span>
                            <div class="frame3-field1">
                        <span class="frame3-text05 Body2500-Medium">
                          <span>Добавить</span>
                        </span>
                                <img
                                        src="../public/playground_assets/tailicon1266-bl3.svg"
                                        alt="Tailicon1266"
                                        class="frame3-tailicon1"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="film-description-element">
                <div class="header-text">
                    <span>Залечь на дно в Брюгге</span>
                </div>
                <span class="frame3-text09">
                  <span>
                    Lorem ipsum dolor sit amet consectetur. Enim felis commodo
                    quis mi. Amet faucibus est venenatis laoreet dolor sed.
                    Purus orci mi massa suspendisse. Augue porttitor nunc
                    tincidunt morbi volutpat purus sed libero. Amet lacinia
                    lorem nibh in donec enim. Pretium nunc sed sagittis mauris
                    eget amet nulla. Placerat tortor eu donec posuere quis nam
                    diam sit. Cursus at orci cras aliquam. Pulvinar tortor augue
                    gravida at nam libero consequat morbi sed.
                  </span>
                </span>
            </div>
            <div class="film-description-element">
                <span class="frame3-text11"><span>Информация</span></span>
                <span class="frame3-text13">
                  <span class="frame3-text14">
                    <span>Тип: Фильм</span>
                    <br/>
                    <span></span>
                    <br/>
                    <span>Страны:</span>
                  </span>
                  <span class="frame3-text20">Великобритания</span>
                  <span class="frame3-text21">,</span>
                  <span class="frame3-text22">США</span>
                  <span class="frame3-text23">
                    <span></span>
                    <br/>
                    <span></span>
                    <br/>
                    <span>Оригинальное название: In Bruges</span>
                    <br/>
                    <span></span>
                    <br/>
                    <span>Длительность: 107 мин</span>
                    <br/>
                    <span></span>
                    <br/>
                    <span>Статус: Вышел</span>
                    <br/>
                    <span></span>
                    <br/>
                    <span>Дата выхода: 2008</span>
                    <br/>
                    <span></span>
                    <br/>
                      <span>Оценка Кинопоиск: 8.1 </span>
                      <br/>
                      <span> Оценка MediaTracker: 8.0</span>
                    <br/>
                    <span></span>
                    <br/>
                    <span>Жанры:</span>
                  </span>
                  <span class="frame3-text49">комедия</span>
                  <span class="frame3-text50">,</span>
                  <span class="frame3-text51">преступление</span>
                  <span class="frame3-text52">,</span>
                  <span class="frame3-text53">триллер</span>
                  <span class="frame3-text54">,</span>
                  <span>драма</span>
                </span>
            </div>
        </div>
        <div class="create-review">
            <div class="frame3-topcontent">
                <input
                        type="text"
                        placeholder="Оставьте отзыв к фильму:"
                        class="frame3-frame-inputlabels"
                />
            </div>
            <div class="frame3-frame-textarea">
                <textarea
                        placeholder="Напиши краткий обзор и мнение о фильме"
                        class="frame3-frame-inputlabels1"
                ></textarea>
            </div>
            <button class="button-create-review">
              <span class="frame3-text56 PublicSansTextlgMedium">
                <span>Опубликовать</span>
              </span>
            </button>
        </div>

        <div class="review-container">
            <div class="frame3-user-info">
                <div class="frame3-avatar-label">
                    <div class="frame3-content">
                    <span class="frame3-text58 PublicSansTextmdSemibold">
                      <span>Ashley Payne</span>
                    </span>
                        <span class="frame3-text60 PublicSansTextsmRegular">
                      <span>@username</span>
                    </span>
                    </div>
                </div>
                <span class="frame3-text62 PublicSansTextsmRegular">
                  <span>6:32pm</span>
                </span>
            </div>
            <div class="frame3-frame427319295">
                <span class="frame3-text64">
                  <span>
                    Lorem ipsum dolor sit amet consectetur. Magna etiam nulla
                    natoque risus donec laoreet massa. Enim massa auctor urna
                    cras aliquet eget mauris justo. Morbi tristique nascetur
                    sagittis rhoncus massa imperdiet in auctor netus. Libero
                    ipsum proin vitae quis. Tempor aliquet mi tristique ornare
                    facilisis neque justo iaculis. Magna sapien tristique
                    ultricies vel arcu. Dictum ut integer rhoncus tristique enim
                    mattis in sed. Dictum vel nunc velit massa nisl duis nunc
                    netus. Tortor justo elit faucibus sed in risus quam aliquam
                    bibendum.
                  </span>
                </span>
            </div>
        </div>
        <div class="review-container">
            <div class="frame3-user-info1">
                <div class="frame3-avatar-label1">
                    <div class="frame3-content1">
                    <span class="frame3-text66 PublicSansTextmdSemibold">
                      <span>Ashley Payne</span>
                    </span>
                        <span class="frame3-text68 PublicSansTextsmRegular">
                      <span>@username</span>
                    </span>
                    </div>
                </div>
                <span class="frame3-text70 PublicSansTextsmRegular">
                  <span>6:32pm</span>
                </span>
            </div>
            <div class="frame3-frame4273192951">
                <span class="frame3-text72">
                  <span>
                    Lorem ipsum dolor sit amet consectetur. Magna etiam nulla
                    natoque risus donec laoreet massa. Enim massa auctor urna
                    cras aliquet eget mauris justo. Morbi tristique nascetur
                    sagittis rhoncus massa imperdiet in auctor netus. Libero
                    ipsum proin vitae quis. Tempor aliquet mi tristique ornare
                    facilisis neque justo iaculis. Magna sapien tristique
                    ultricies vel arcu. Dictum ut integer rhoncus tristique enim
                    mattis in sed. Dictum vel nunc velit massa nisl duis nunc
                    netus. Tortor justo elit faucibus sed in risus quam aliquam
                    bibendum.
                  </span>
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
