.content-main {
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 0;
}

.content-login {
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    align-content: flex-start;
    align-items: flex-start;
}

.content-login-row {
    margin: 145px auto 0px auto;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    background-color: rgba(183, 182, 224, 0.5);
    width: 700px;
}

.img-container {
    height: 505px;
}

.img-container > img {
    width: 307px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transform: translateX(-14px);
    opacity: 0.8;
}

.block {
    margin: 90px 20px 20px 20px;
}

h1, h2, p {
    margin-top: 10px;
    padding: 10px;
    color: #ffffff;
    text-align: center;
}

p {
    font-size: 18px;
}

.description {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0;
    flex-shrink: 0;
    border-radius: 3px;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
}

input[type=submit] {
    background-color: rgba(200, 147, 209, 0.12);
    color: white;
    border: none;
    font-size: 16px;
    width: 200px;
    height: 40px;
}

input[type=submit]:hover {
    background-color: rgba(145, 79, 157, 0.28);
}

/* Feature Cards */

#features {
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
    height: auto;
}

.feature {
    text-align: center;
    height: auto;
    flex: 1 1 0;
}

.feature img {
    width: 60px;
    height: 60px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    margin-left: auto;
}

.feature h3 {
    margin-top: 10px;
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 0;
}

.feature h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #003EB3;
    margin-top: 20px;
}

.feature p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0;
}

.box {
    border-radius: 100px;
    box-shadow: 20px 15px 20px -15px rgba(139, 139, 200, 0.5);
    padding: 30px;
    margin: 20px;
    height: auto;
    min-height: 250px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.1);
}

/* Feature Cards END */

@media screen and (max-width: 900px) {
    #features {
        flex-direction: column;
        margin: 0;
    }

    .content-login-row {
        flex-direction: column;
        width: 430px;
        margin: auto auto auto auto;
        height: 60vh;
    }

    .img-container {
        height: 200px;
        width: 100%;
    }

    .img-container > img {
        width: 450px;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        transform: translateX(-12px);
        opacity: 0.8;
        object-position: 0 -115px;
    }
}


.information {
    width: 40%;
}

.search {
    visibility: hidden;
}

.swiper-container {
    width: 40%;
    height: auto;
    overflow: hidden;
    align-items: center;
    display: flex;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: auto;
    left: auto;
    margin-left: -2%;
    color: rgba(150, 150, 300, 0.6);
    border: white solid 1px;
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5px;
    width: 30px;
    height: 50px;
}

.swiper-button-next {
    right: auto;
    margin-left: 35%;
}

.contents {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.img-movie {
    -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 0 20px 20px black inset;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* height: 100%; */
    margin-left: 1.5%;
    height: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.buttons > .swiper-button-next {
    margin-left: auto;
    margin-right: 20px;
}

.buttons > .swiper-button-prev {
    margin-right: auto;
    margin-left: 10px;
}

.buttons > .swiper-button-prev, .buttons > .swiper-button-next {
    position: relative;
    margin-top: 450px;
    visibility: visible;
}

.swiper-slide > h1, .swiper-slide > p, .swiper-slide > form {
    margin: 0;
    text-align: left;
    padding-left: 100px;
    z-index: 10;
}

.swiper-slide > h1 {
    padding-top: 50px;
    position: absolute;
    z-index: 10;
    height: 350px;
    min-width: 100%;
    background-color: black;
    font-size: 30px;
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
}

.swiper-slide > p {
    padding-top: 100px;
    min-width: 500px;
    max-width: 400px;
    position: absolute;
}

.swiper-slide > form {
    padding-top: 300px;
    min-width: 400px;
    max-width: 400px;
    position: absolute;
}

.block-row {
    width: 100%;
}

.content-header  {
    color: white;
    font-size: 36px;
    background-color: rgba(0,0,0,0.1);
    margin: 0;
    padding: 0;
}
