/* Основной блок */
.content-main {
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    min-height: 800px;
    padding: 0 !important;
}

/* Кнопка-справка */
.help-button {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    padding: 1px;
    border: none;
    font-size: 18px;
}

/* Лоадер */
#loader {
    display: none;
    align-self: flex-start;
    align-content: flex-start;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin .5s linear infinite;
    margin: auto;
}

/* Рекомендации */
.header-settings, .rec-settings {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    align-items: flex-start;
    flex-wrap: wrap;
}

.header-year-filter {
    margin: auto;
}

.rec-settings {
    gap: 40;
    position: relative;
    justify-content: space-around;
    width: 100%;
    min-width: 400px;
    padding: 12px 0 12px 0;
    background-color: var(--dl-half-transparent-5);
    border-color: #e2e8f0;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    align-items: flex-start;
}

.header-settings {
    justify-content: space-between;
}

.header-settings-text {
    gap: 4px;
    display: flex;
    align-items: center;
}

.rec-header {
    height: auto;
    text-align: left;
    line-height: 32px;
}

/* Настройки */
.settings-menuitem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings-section {
    gap: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 4px;
    width: 95%;
    margin-bottom: 10px;
    justify-content: space-around;
}

.settings-menuitem {
    gap: 20px;
    height: auto;
    text-align: center;
    width: fit-content;
}

.check-content-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.settings-input {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 0 20px;
    width: 90%;
    height: auto;
}

.year-filters {
    gap: 20px;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.settings-year-input {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    max-width: 200px;
}

.year-filter-input {
    color: #64748b;
    display: flex;
    flex-grow: 1;
    text-align: left;
    align-items: center;
    font-family: var(--dl-font-family);
    font-weight: 200;
    font-size: 14px;
    max-width: 150px;
}

.create-recs {
    gap: 8px;
    display: flex;
    padding: 10px 20px;
    margin-top: 20px;
    flex-grow: 1;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 100, 255, .3);
    border-radius: 5px;
    color: #fff;
}

.rec-checboxes{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
/* Кнопки рекомендаций */
.rec-buttons {
    flex-direction: row;
    justify-content: space-between;
}

.rec-buttons button {
    height: 50px;
}

.rec-buttons, .tag-area, .tag-area ul {
    display: flex;
    align-items: center;
}

/* Чекбоксы */
input[type=checkbox] {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    padding: 10px;
    accent-color: #9039ff;
    margin: 0px 10px;
}

/* Теги */
.tag-area {
    outline: 0;
    width: 100%;
    border: 2px solid #605f6f;
    border-radius: 5px;
    transition: all .2s;
    cursor: text;
    position: relative;
    min-height: 40px;
}

.label {
    position: absolute;
    background: #1f2023;
    padding: 0 .3rem;
    color: #adadad;
    top: 12px;
    left: 10px;
    transition: all .1s;
}

.tag-area ul {
    flex-wrap: wrap;
    margin: 10px;
    padding-left: 5px;
    height: auto;
}

.tag-input {
    outline: 0;
    border: 0;
    width: 150px;
    background: 0 0;
    color: #fff;
    font-size: 14px;
}

.tag-input::selection > .label {
    top: -20px;
}

li {
    list-style: none;
}

.label-active {
    top: -11px;
    color: #8d29ff;
    font-size: 13px;
}

.active {
    border: 2px solid #8d29ff !important;
}

.tag {
    padding-left: 0.8rem;
    background: #353535;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}

.cross {
    cursor: pointer;
    display: flex;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transform: rotate(45deg);
    border-radius: 50%;
    background: #414141;
}

.cross:hover {
    background: #818181b1;
}

.cross::before {
    content: "";
    width: 2px;
    height: 16px;
    position: absolute;
    background: rgb(255, 255, 255);
}

.cross::after {
    content: "";
    height: 2px;
    width: 16px;
    position: absolute;
    background: rgb(255, 255, 255);
}


/* Медиа-запросы */
@media (max-width: 1100px) {
    .help-description {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .help-description {
        font-size: 16px;
    }
}

@media (max-width: 650px) {
    .tag-area {
        width: 300px;
    }
}

/* Анимации */
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}